$colorBackgroundMain: #242333;
$colorFontMain: #fff;

$colorSeatDefault: #444451;
$colorSeatSelected: #6feaf6;
$colorSeatOccupied: #fff;

$moviePickerBaseSize: 5px;

$seatWidth: 15px;
$seatMargin: $seatWidth *0.2;
